.green {
  color: green !important;
  font: 300 1vmax "Roboto" !important;
}
.red {
  color: red !important;
  font: 300 1vmax "Roboto" !important;
}
.orange {
  color: orange !important;
  font: 300 1vmax "Roboto" !important;
}
.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
.myOrdersPage {
  width: 100vw;
  max-width: 100%;
  padding: 0 7vmax;
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#myOrdersHeading {
  text-align: center;
  font: 400 1.2vmax "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  border-radius: 4px 4px 0 0;
  /* background-color: rgb(44, 44, 44);  */
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    344deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(40, 25, 11, 1) 35%,
    rgba(22, 3, 3, 1) 100%
  );
}

.myOrdersTable {
  /* Make responsive remove margins here if you can */
  margin-top: 0.5vmax;
  margin-bottom: 0.7vmax;
  background-color: white;
  background: #eee;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.myOrdersTable div {
  font: 300 1vmax "Roboto";
  /* color: rgba(0, 0, 0, 0.678); */
  border: none;
}

.myOrdersTable a {
  /* color: rgba(0, 0, 0, 0.527); */
  transition: all 0.5s;
}

.myOrdersTable a:hover {
  color: tomato;
}

.MuiDataGrid-columnHeader {
  background-color: tomato;
  padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255);
  font: 500 1.1vmax "Roboto" !important;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .myOrdersPage {
    padding: 0;
    height: 93vh;
  }

  #myOrdersHeading {
    font: 400 2.2vmax "Roboto";
    padding: 4vw;
  }

  .myOrdersTable div {
    font: 300 4vw "Roboto";
  }

  .MuiDataGrid-columnHeader {
    padding: 20px !important;
  }

  .MuiDataGrid-columnHeader div {
    font: 500 5vw "Roboto" !important;
  }
}
